body{
    color: white;
}

.detalle{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.caja1{
    width: auto;
    height: 70vh;
    background-color: white;
    margin-left: 1vw;

}

.caja2{
    margin-left: 2vw;
    width: 520px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 6px;
    text-align: start;
}

.caja3{
    padding-bottom: 25px;
    margin-left: 4vw;
    width: auto;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: -5px 5px 5px rgb(30, 30, 30);  
}

.imagenDetail{
    max-width: 95%;
    height: 90%;
    object-fit: cover;

}

h2{
    padding-top: 2vh;
}

h4{
    font-size: medium !important ;
    margin-top: 22px !important;
    line-height: 0 !important;
}

h5{
    font-size: small !important;
}

p{
    font-size: small;
}

.text-medium{
    font-size: medium;
    line-height: 1.5;
}

.pieTitulo{
    display: flex;
    flex-direction: row;

}

.box1{
    width:8vw;
    margin: 5px;
    height: 46px;
    padding-top: 5px;
    padding-left: 8px;
    background-color: rgb(54, 54, 54);
}

.medios{
    margin-top: 2vh;
}


.box2{
    background-color: rgb(0, 0, 0);
    width: 37vw;
    margin: 8px;
    padding-left: 15px;
    display: flex;
    align-items: center;

}

.icon-medios{
    width: 36px;
    height: 36px;
    margin-right: 15px;
}

.icon-wp{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-left: -5px;
    padding-bottom: 6px;
}

.boxPrecio{
    width: 82%;
    text-align: start;
    padding-left: 2vw;
    padding-right: 50px;
    padding-bottom: 1.5vh;
    background-color: rgb(0, 0, 0);
    margin-bottom: 4vh;
    margin-left: 2.2vw;
}

.textPrecio{
    margin-top: 10px;
    color: rgb(255, 255, 255);
}

.whatsapp-button{
    margin-top: 10px;
    width: 275px;
    height: 45px;
    background-color: rgb(107, 215, 97);
}

.whatsapp-button:hover{
    border-color: white;
    background-color: rgb(87, 195, 77);
    transition: 0.5s;
}

.agregarCarritoText{
    background-color: rgb(0, 0, 0);
    font-size: small;
    color: white;
    margin-left: 5px;   
    border-radius: 0;
    height: 50px;
  }
  
.agregarCarritoText:hover {
    border-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    color: red;
    transition: 0.5s;
}
  
.button-contador{
    border-radius: 0;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: rgb(54, 54, 54);
    cursor: pointer;
    transition: border-color 0.25s;
}
  
.button-contador:hover {
    border-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    color: red;
    transition: 0.7s;
}

.boxEnviamosTuPedido{
    width: 84%;
    height: 11vh;
    margin-top: 5px;
    margin-left: 2vw;
    padding-top: 0.5px;
    background-color: rgb(54, 54, 54);
}

.box-description{
    width: 75%;
    height: 60vh;
    margin-top: 4vh;
    padding-left: 4vw;
    padding-right: 4vw;
    text-align: start;
    box-shadow: -5px 5px 5px rgb(30, 30, 30);  
}

.subrrallado{
    background-color:  rgb(54, 54, 54);
    height: 3px;
    margin-top: -2px;
    margin-left: 23.38vw;
    width: 250px;
    margin-bottom: 5vh;
}