.items{
    display: flex;
    flex-direction: row;
    background-color: rgb(54, 54, 54);
    width: auto;
    height: 23vh;
    margin-top: 5px;
    margin-bottom: 14px;
    text-decoration: none !important;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 6px;
    padding-right: 10px;
}

.imagenes{
    aspect-ratio: 3/2;
    object-fit: contain;
    margin-right: 15px;
    background-color: white;
    border-radius: 2px;
}

h6{
    text-align: start;
    font-size: x-large;
    font-weight: 1;
}

.precio{
    text-align: start;
    width: 50%;
    margin-top: 5px;
    font-size: large;
    color: rgb(255, 255, 255);
    font-weight: 100;
    background-color: rgb(54, 54, 54);
}

.categorias{
    height: 75vh;
    margin-right: 3vw;
    background-color: black;
    border-radius: 3px;
}

.button-verMas{
    width: 100px;
    height: 44px;
    margin-left: 10px;
}

.button-verMas:hover {
    background-color: rgb(26, 26, 26);
    border-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

.box-item-stock{
    display: flex;
    flex-direction: row;
    margin: 5px;
    height: 15px;
    padding-left: 8px;
    background-color: rgba(255, 255, 255, 0);
}

.detalle-precio-item{
    height: 3px;
    width: 50%;
    margin-top: -16px;
    margin-left: 8px;
    background-color: #1f1f1f;
    border-radius: 2px;
}

